process {
  executor='pbs'
  queue='workq'
  clusterOptions = '-P berger_common'

  $trimgalore {
    module = 'Trim_Galore/0.4.1-foss-2016a'
   }

  $star {
   module = 'STAR/2.5.2a-foss-2016b'
  }

   $kallistoIndex {
     module = 'kallisto/0.43.1-foss-2016b'
   }

   $quantKallisto {
     module = 'kallisto/0.43.1-foss-2016b'
   }

   $STARindex {
     module = 'STAR/2.5.2a-foss-2016b' 
     time = '5h'
     memory ='62 GB'  
 }   

}

