process {
  executor='pbs'
  queue='workq'
  clusterOptions = '-P berger_common'

  $trimgalore {
    module = 'Trim_Galore/0.4.1-foss-2016a'
   }

  $star {
   module = 'STAR/2.5.2a-foss-2016b'
   time = '20h'
  }

   $kallistoIndex {
     module = 'kallisto/0.43.1-foss-2016b'
   }

   $quantKallisto {
     module = 'kallisto/0.43.1-foss-2016b'
   }

   $STARindex {
     module = 'STAR/2.5.2a-foss-2016b' 
     time = '5h'
     memory ='62 GB'  
   }   

  $sam2bam {
     module = 'SAMtools/1.4-foss-2016b'
     time = '5h'
     memory = '62 GB'
  }
  $bam2bw {
    module = 'deepTools/2.2.4-foss-2015a-Python-2.7.9:SAMtools/1.4-foss-2016b'
    memory = '62 GB' 
   }
}

